#body {
    padding-top: 5rem;
    overflow-x: hidden;
}

.nav_icons {
    list-style: none;
    display: flex;
}

.nav-item-icons {
    cursor: pointer;
    margin-left: 2rem;
}

.btn-mode {
    margin-top: 2.7px !important;
    font-size: 21.5px;
}

.subtitle {
    font-size: 15px !important;
}

.nav-item {
    margin-left: 2rem;
}

.hero-text{
    margin-top: 6rem !important;
}

.hero-text h1 {
    font-size: 55px;
}

.hero-btn a {
    color: black;
    margin-left: 1rem;
}

.hero-img{
    /* box-shadow: 0 0 20px rgba(152, 151, 149, 0.8),
                 0 0 30px rgba(255, 255, 255, 0.4); */
    height: 80vh;
}

.project-body:hover {
    color: black;
}

.project h1 {
    font-weight: bold;
    font-size: 8rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: end;
}

.button span {
    font-size: 20px;
    padding-left: -10px !important;
    
}

.btn-reuse {
    padding: 17px 35px;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 20px black;
    background: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

/* ----------Home_project--------------- */

.proj-grid {
    display: grid;
    height: 43rem;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
}

.proj-img {
    position: relative !important;
    overflow: hidden !important;
    height: 43rem;
    box-shadow: 0 0 20px rgba(152, 151, 149, 0.8),
                 0 0 30px rgba(255, 255, 255, 0.4);
}

.content {
    position: absolute;
    color: #fff;
    top: 2rem;
    left: 2rem;
}

.proj-img > img {
    transition: 1500ms ease-in-out;
}

.proj-img:hover > img.zoom {
    transform: scale(1.1);
}

/* --------------Project Page ----------------- */

.page {
    margin-top: 7rem !important;
}

.title h1 {
    font-size: 8rem !important;
    font-weight: bold;
}

.img-wrapper {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(152, 151, 149, 0.8),
                 0 0 30px rgba(255, 255, 255, 0.4);
}

.img-wrapper > img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.img-wrapper > content {
    position: absolute;
    inset: 0;
    font-size: 2rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper > img, .img-wrapper > .content {
    transition: 1500ms ease-in-out;
}

.img-wrapper:hover > img {
    transform: scale(1.4);
}

.content-num {
    position: absolute;
    color: #fff;
    bottom: 10px;
    left: 2rem;
}

/* ---------------Home_about----------------- */
.margin {
    margin-top: 10rem !important;
}

.stack-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stack {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.stack img {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    object-fit: cover;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    background: #fff;
}

footer {
    margin-top: 10rem !important;
    border-top: 2px solid whitesmoke;
    box-shadow: 0 0 20px rgba(152, 151, 149, 0.8),
                 0 0 30px rgba(255, 255, 255, 0.4);
}

/* --------------About---------------- */
.sub-title {
    font-size: 3rem !important;
    font-weight: 500;
}

.about-content {
    padding-left: 5rem !important;
}

.about-content span {
    font-weight: bold;
}

/* ----------Contact-------------- */

.contact-content {
    padding-left: 5rem;
    margin-top: 2rem;
}

.contact-content h3 {
    font-size: 3rem;
}

.contact-content p {
    font-size: 23px;
}

/* -----------Scroll to top --------------- */

.scroll-to-top-button {
    position: fixed;
    bottom: 85px;
    right: 30px;
    z-index: 999;
    width: 40px;
    height: 40px;
    border: none;
    background-color: black;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .scroll-to-top-button.visible {
    opacity: 1;
    visibility: visible;
  }
  
  .scroll-to-top-button i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .scroll-to-top-button:hover {
    background-color: #b6acac;
    color: black;
  }

  .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:15px;
	right:19px;
	background-color:#25d366;
	color:#fff;
	border-radius:50px;
	text-align:center;
    font-size:30px;
    z-index:100;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width:452px) {
    .proj-grid {
        height: 16rem !important;
    }

    .proj-img {
        padding-top: 3rem;
        object-fit: cover !important;
        object-position: center;
    }
    
    .num1 {
        top: 21rem;
    }

    .title h1 {
        margin-top: -80px;
        font-size: 55px !important;
    }

    .sub-title {
        font-size: 30px !important;
    }

    .about-content {
        margin-left: -30px;
    }

    .contact-content {
        margin-left: -80px !important;
        margin-top: 10px;
    }

    .contact-content h3 {
        font-size: 30px !important;
    }

    .contact-content p {
        font-size: 20px !important;
    }
}


@media screen and (max-width:767px) {
    #body {
        padding-top: 1rem;
    }

    .hero-img {
        margin-top: -2rem !important;
    }

    .hero-text h1 {
        margin-top: -5rem !important;
        font-size: 30px !important;
    }

    .hero-text p {
        font-size: 18px !important;
        margin-top: -10px !important;
    }

    .project h1 {
        margin-left: 0rem;
        font-size: 55px;
        font-weight: 900;
    }

    .project-body .button {
        display: flex;
        justify-content: start;
    }

    .project-body button {
        padding: 10px 20px;
    }

    .button {
        margin-top: 2rem !important;
    }

    .margin {
        margin-top: 4rem !important;
    }

    .margin .project h1 {
        font-size: 55px;
        font-weight: 900;
    }

    .proj-grid {
        height: 20rem;
    }

    .proj-img {
        padding-top: 3rem;
    }
    
    .num1 {
        top: 200px;
    }

    .title h1 {
        margin-top: -80px;
        font-size: 55px !important;
    }

    .sub-title {
        font-size: 30px !important;
    }

    .about-content {
        margin-left: -30px;
    }

    .contact-content {
        margin-left: -40px;
    }
}

@media screen and (min-width:767px) and (max-width:1023px){
    .nav_icons {
        padding: 0px !important;
    }

    .hero-text {
        margin-top: 0.5rem !important;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 20px !important;
    }

    .hero-btn button {
        font-size: 20px !important;
        padding: 2px 10px !important;
    }

    /* --recent project-- */
    .project h1 {
        font-size: 5rem !important;
    }

    .proj-grid {
        height: 27rem;
    }

    .proj-img {
        padding-top: 3rem;
        object-fit: cover !important;
        object-position: center;
    }
    
    .num1 {
        top: 24rem;
    }

    footer {
        margin-top: 30rem !important;
    }
}